<div class="margin-top"></div><!--nav margin-->
<div class="container">
	<!--intro-->
    <div class="row"><br/>
        <div class="col-sm-12">
            <h3 class="darkgray page-header">관리자 페이지<br><small>기본 정보 수정</small></h3>
         </div>
        <!-- article category-->
        <div class="col-sm-2 control-label-left">
         	<br/>
             <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria page-haspopup="true" aria-expanded="true">글 카테고리<span class="caret"></span></button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <li><a href="#">Intro</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">성인 정규 클래스</a></li>
                          <li><a href="#">성인 원데이 클래스</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">요리 책방 꼬르륵</a></li>
                          <li><a href="#">주니어 클래스</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">PRIVATE CLASS</a></li>
                      </ul>
              </div>
        </div><br/>
        <!--/.article category-->
        <div class="col-sm-10">
        	<label>내용</label><br/>
          	<textarea rows="4" cols="104"></textarea>
        </div>
        <div class="col-sm-2"></div>
		 <div class="col-sm-10">
        	<label>intro 사진 수정</label><br/>
          	<textarea rows="2" cols="10"></textarea>
        </div>
              	<!--intro 사진만 수정가능-->
         </div>
	</div>
	<!--submit button-->
    <div class="col-sm-12 control-label-center">
    	<input type="submit" value="완료" class="btn btn-default">
    </div>
    <!--/.submit button-->
</div>