<div class="margin-top"></div><!--nav margin-->
<div class="container">
    <!-- intro -->
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 30px">
            <h2 class="page-header darkgray">관리자 페이지 <small>회원관리</small></h2>
        </div>
    </div>
    <!-- /.intro -->
    
    <section>
        <div class="container-fluid control-label-left">
            <!-- List Content Head -->
            <div class="row">
                <div class="col-sm-2">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">클래스명<span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">성인 정규 클래스</a></li>
                                <li><a href="#">성인 원데이 클래스</a></li>
                                <li><a href="#">요리 책방 꼬르륵</a></li>
                                <li><a href="#">주니어 클래스</a></li>
                                <li><a href="#">PRIVATE CLASS</a></li>
                            </ul>
                    </div>
                    <!--/.dropdown-->
                </div>
                <!--/.col-sm-2-->
                <div class="col-sm-2"><h4>신청자(총 수강수)</h4></div>
                <div class="col-sm-3"><h4>전화번호</h4></div>
                <div class="col-sm-3"><h4>메일주소</h4></div>
                <div class="col-sm-2"><h4>신청확인</h4></div>
            </div>
            <!--/. List Content Head -->
            <hr/>
            <!--List Content 1-->
            <div class="row control-label-left">
                <div class="col-sm-2"><h5>클래스명</h5></div>
                <div class="col-sm-2"><h5>신청자(%00번%)</h5></div>
                <div class="col-sm-3"><h5>010-0000-0000</h5></div>
                <div class="col-sm-3"><h5>aaaaa@aaaa.com</h5></div>
                <div class="col-sm-2"><h5><input type="checkbox" <!-- name="item_id[]" value="9 -->"></input></h5></div>
            </div>
            <!--/.List Content 1-->
            <!--List Content 2-->
            <div class="row control-label-left">
                <div class="col-sm-2"><h5>클래스명</h5></div>
                <div class="col-sm-2"><h5>신청자(%00번%)</h5></div>
                <div class="col-sm-3"><h5>010-0000-0000</h5></div>
                <div class="col-sm-3"><h5>aaaaa@aaaa.com</h5></div>
                <div class="col-sm-2"><h5><input type="checkbox" <!-- name="item_id[]" value="9 -->"></input></h5></div>
            </div> 
            <!--/.List Content 2-->   
        </div>
        <!--/.container-fluid control-label-left-->
        <hr/>
    </section>

    <!--Apply Check-->
    <div class="container col-sm-2 col-sm-offset-10">
        <div class="btn-group" role="group">
            <!--ifnill코드임         <input type="hidden" name="bucket_id" value="3"></input> -->
            <a type="submit" class="btn btn-default" role="button" data-confirm="확인 버튼을 누르면 %xxx% 수강생 내역을 확정합니다. 신청자에게 클래스 신청완료 이메일이 전송됩니다.">신청완료</a>
            <!-- ifnill코드임        <input type="hidden" name="bucket_id" value="3"></input> -->
            <a type="submit" class="btn btn-default" role="button" data-confirm="주의하세요! 확인 버튼을 누르면 체크하신 수강생 %xxx% 내역을 취소합니다. 한번 더 살펴보시길 바랍니다. 신청자에게 클래스 취소내역이 이메일로 전송됩니다.">신청취소</a>       
        </div>
    </div>
    <!--/.Apply Check-->
</div>
<!--/.container-->
