<div class="margin-top"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header darkgray">관리자 페이지 <small>리스트 보기</small></h2>
        </div>
    </div>
    <div class="container col-sm-4 col-sm-offset-4">
        <div class="control-label-left">
            <h3>메인</h3>
            <a href="/admin/cmodify"><h4>Intro 및 Class 설명 설정</h4></a>
            <a href="/admin/video"><h4>메인 동영상 관리</h4></a>
            <a href="/admin/oneday"><h4>원데이 클래스 노출 설정</h4></a>
            <hr/>
            <h3>글</h3>
            <a href="/posts/new"><h4>글쓰기</h4></a>
            <a href="/admin/manage"><h4>글 목록 관리</h4></a>
            <hr/>
            <h3>회원</h3>
            <a href="/admin/userlist"><h4>회원 목록</h4></a>
            <a href="/admin/currentapply"><h4>현재 Class 신청자</h4></a>
            <hr/>
        </div>
    </div>
</div>
