<div class="margin-top"></div><!--nav margin-->
<div class="container">
    <!-- intro -->
    <div class="row">
      <div class="col-sm-12" style="padding-bottom: 30px">
        <h2 class="page-header darkgray">관리자 페이지 <small>회원관리</small></h2>
      </div>
    </div>

    <section>
      <div class="container-fluid control-label-left">
        <!-- List Content Head -->
        <div class="row">
          <div class="col-sm-1"><h4>이름</h4></div>
          <div class="col-sm-2"><h4>전화번호</h4></div>
          <div class="col-sm-2"><h4>메일주소</h4></div>
          <div class="col-sm-2"><h4>관심분야</h4></div>
          <div class="col-sm-3"><h4>수강내역</h4></div>
          <div class="col-sm-2"><h4>최근 방문한 날</h4></div>
        </div>
        <!--/.List Content Head -->
        <hr/>
        <!--List Content 1-->
        <div class="row control-label-left">
          <div class="col-sm-1"><h5>홍길동</h5></div>
          <div class="col-sm-2"><h5>010-0000-0000</h5></div>
          <div class="col-sm-2"><h5>aaaaaa@aaaa.com</h5></div>
          <div class="col-sm-2"><h5>성인요리</h5></div>
          <div class="col-sm-3">
            <h5>
              <li>총 수강수 : %00번%</li>
              <li>성인 원데이 클래스(151102)</li>
              <li>성인 정규 클래스(151120-160220)</li>
            </h5>
          </div>
          <div class="col-sm-2"><h5>2015-11-01</h5></div>
        </div>
        <!--/.List Content1-->
        <!--List Content2-->
        <div class="row control-label-left">
          <div class="col-sm-1"><h5>홍길동</h5></div>
          <div class="col-sm-2"><h5>010-0000-0000</h5></div>
          <div class="col-sm-2"><h5>aaaaaa@aaaa.com</h5></div>
          <div class="col-sm-2"><h5>성인요리</h5></div>
          <div class="col-sm-3">
            <h5>
              <li>총 수강수 : %00번%</li>
              <li>성인 원데이 클래스(151102)</li>
              <li>성인 정규 클래스</li>
            </h5>
          </div>
          <div class="col-sm-2"><h5>2015-11-01</h5></div>
        </div>
        <!--/.List Content2-->
        <hr/>
        <br/>
    </section>
</div>
<!--/.container-->