<div class="margin-top"></div><!--nav margin-->
<div class="container">
    <!--intro-->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header darkgray">관리자 페이지 <small>메인 동영상 작성하기</small></h2>
        </div>
    </div>
    <!-- /.intro -->
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">글 카테고리<span class="caret"></span></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">공지사항</a></li>
                <li><a href="#">성인 정규 클래스</a></li>
                <li><a href="#">성인 원데이 클래스</a></li>
                <li><a href="#">요리 책방 꼬르륵</a></li>
                <li><a href="#">주니어 클래스</a></li>
                <li><a href="#">PRIVATE CLASS</a></li>
                <li><a href="#">정 in the Garden</a></li>
              </ul>
    </div>
    <div>
    <input type="file" style="padding-top: 20px;padding-bottom:20px">
          <div class="col-sm-12 control-label-center">
              <a class="btn btn-default" href="">적용</a>
              <a class="btn btn-default" href="">뒤로가기</a>
          </div>
    </div>
</div>
<!--/.container-->