<div class="margin-top"></div><!--nav margin-->
<div class="container">
    <!--intro-->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header darkgray">관리자 페이지 <small>메인 동영상 작성하기</small></h2>
        </div>
    </div>
    <!-- /.intro -->
    <%= bootstrap_form_tag url: '/admin/video_update', method: 'post' do |f| %>
    <%= f.select :class_state, options_for_select([["공지사항", 0], ["성인 정규 클래스", 1], ["성인 원데이 클래스", 2], ["요리 책방 꼬르륵", 3], ["주니어 클래스", 4], ["Private 클래스", 5], ["정인더가든", 6]]), label:"카테고리" %>

    <div>
    <%= f.file_field :video, label: "비디오" %>
          <div class="col-sm-12 control-label-center">
              <%= f.submit %>
              <a class="btn btn-default" href="/">돌아가기</a>
          </div>
    </div>
    <% end %>
</div>
<!--/.container-->