<div class="margin-top"></div>
<div class="container">
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header darkgray">CALENDER <small>정 in the Kitchen</small></h2>
        </div>
    </div>
    <div id="calendar"></div>
</div>

<script type="text/javascript">
	
	$(document).ready(function() {

	    // page is now ready, initialize the calendar...

	    $('#calendar').fullCalendar({
	        // put your options and callbacks here

	        header: {
		        left: 'prev,next',
		        center: 'title',
		        right: 'today'
		    },

		    events: [

		    	<% @posts.each do |p|  %>
		    		<% p.date.each do |d|%>
		        {
		            title  : '<%= p.title %>',
		            start  : '<%= d %>',
		            url : '/classes/<%= p.class_state %>/posts/<%= p.id %>',
		            <% if p.class_state == 1 %>
		            color: 'green',
		            <% elsif p.class_state == 2 %>
		            color: 'green',
		            <% elsif p.class_state == 3 %>
		            color: 'blue',
		            <% elsif p.class_state == 4 %>
		            color: 'blue',
		            <% elsif %>
		            color: 'bule',
		            <% end %>
		            allDay : true
		        },
		        	<% end %>
		        <% end %>
		    ]
	    })

	});

	$('#test').multiDatesPicker();

</script>
