<div class="margin-top"></div>
<div class="container">
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header darkgray">CALENDER <small>정 in the Kitchen</small></h2>
        </div>
    </div>
    <div class="row">
	    <div class="col-sm-1">
	    </div>
	    <div id="calendar" class="col-sm-10"></div>
	    </div>
	    <div class="col-sm-1">
	    </div>
	</div>
</div>

<script type="text/javascript">
	
	$(document).ready(function() {

	    // page is now ready, initialize the calendar...

	    $('#calendar').fullCalendar({
	        // put your options and callbacks here

	        header: {
		        left: 'prev,next',
		        center: 'title',
		        right: 'today'
		    },

		    events: [

		    	<% @posts.each do |p|  %>
		    		<% p.date.each do |d|%>
		        {
		            title  : '<%= p.title %>',
		            start  : '<%= d %>',
		            url : '/classes/<%= p.class_state %>/posts/<%= p.id %>',
		            <% if p.class_state == 1 %>
		            	<% if p.am_pm == 'am' %>
		            		color: '#c55454',
		            	<% else %>
		            		color: '#833535',
		            	<% end %>
		            <% elsif p.class_state == 2 %>
		            	<% if p.am_pm == 'am' %>
		            		color: '#7da79b',
		            	<% else %>
		            		color: '#285447',
		            	<% end %>
		            <% elsif p.class_state == 3 %>
		            	<% if p.am_pm == 'am' %>
		            		color: '#c17e00',
		            	<% else %>
		            		color: '#815400',
		            	<% end %>
		            <% elsif p.class_state == 4 %>
		            	<% if p.am_pm == 'am' %>
		            		color: '#a547d0',
		            	<% else %>
		            		color: "#611185",
		            	<% end %>
		            <% elsif p.class_state == 5 %>
		            	<% if p.am_pm == 'am' %>
		            		color: '#47aad0',
		            	<% else %>
		            		color: '#1f6d8b',
		            	<% end %>
		            <% end %>
		            allDay : true
		        },
		        	<% end %>
		        <% end %>
		    ]
	    })

	});

	$('#test').multiDatesPicker();

</script>
