<div class="margin-top"></div><!--nav margin-->
<div class="container">
    <!--intro-->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header darkgray">Intro <small>정 in the Kitchen</small></h2>
        </div>
    </div>
    <!-- /.intro-->
    <br/>
    <br/>
    <!-- intro section -->
    <div class="row">
        <!-- intro image -->
        <section>
            <div class="col-sm-6 control-label-center">
                <%= image_tag "intro.jpg", :width =>"100%", :height =>"300px", :class =>"margin-bottom" %>
                <% unless current_user.nil? %>
                    <% if current_user.admin==true %>

                <% end %>
            <% end %>

            </div>
        </section>
        <!--/.intro image-->
        <!--intro wording-->
        <section>
            <div class="col-sm-6 control-container-left">
                <p><%= Admin.find(1).intro_text.html_safe %></p>
            </div>
        </section>
        <!--/.intro wording-->
    </div>
    <!--/.intro section -->
</div>
<!--/.container-->


