<div class="margin-top"></div><!--nav margin-->
<div class="container">
    <!--intro-->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header darkgray">Intro <small>정 in the Kitchen</small></h2>
        </div>
    </div>
    <!-- /.intro-->
    <br/>
    <br/>
    <!-- intro section -->
    <div class="row">
        <!-- intro image -->
        <section>
            <div class="col-sm-6 control-label-center">
                <%= image_tag "intro.jpg", :width =>"100%", :height =>"300px", :class =>"margin-bottom" %>
                <% unless current_user.nil? %>
                    <% if current_user.admin==true %>

                <% end %>
            <% end %>

            </div>
        </section>
        <!--/.intro image-->
        <!--intro wording-->
        <section>
            <div class="col-sm-6 control-container-left">
                <p>정 인 더 키친은 ‘정이 넘치는 부엌’이라는 뜻입니다. 2008년, 어느 아파트의 5평 작은 주방에서부터

시작된 요리에 대한 열망은 지속적으로 이어져 오늘날의 정 인 더 키친을 탄생하게 하였습니다. 바쁜 

일상속에서 질좋은 재료로 정성껏 요리한 음식을 누군가와 함께 나누어 먹을 때의 행복을 함께 

나누고 싶은 ‘정 인 더 키친’은, 어린이부터 어른까지 나이와 성별을 구분하지 않고 누구나 즐겁게 

요리할 수 있는 곳이며, 여러분들의 식탁에 사랑과 정을 듬뿍 담아 올릴 수 있는 특별한 경험을 할 수 

있도록 늘 가까이 하고자 합니다.</p>


            </div>
        </section>
        <!--/.intro wording-->
    </div>
    <!--/.intro section -->
</div>
<!--/.container-->


