<div class="margin-top"></div><!--nav margin-->
<div class="container">
	<!-- Intro -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header darkgray">환불 및 취소 정책 <small>정 in the Kitchen</small></h2>
        </div>
    </div>
    <!-- /.Intro -->
	<br/>
	<!-- Content-->
	<div class="container">
		<div class="control-label-left">
			<h4>1. 홈페이지로 신청은 예약완료이며, 수업료가 입금되어야 신청확정이 됩니다.</h4>
			<h4>2. 수업 신청 후 입금 순으로 수업이 마감됩니다.</h4>
			<h4>3. 수업 취소는 수업 5일 전까지 가능하며 취소시 100% 환불이 가능하나, 그 이후에는 취소가 불가능하며 수업 불참시 레시피로 대체됩니다.</h4>
			<h4>4. 정규반 수업시, 타인에게 양도 불가능합니다.</h4>
		</div>
	</div>
	<!--/.Content-->
</div>
<!--/.container-->