<div class="margin-top"></div>
<div class="container">
    <!-- intro -->
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-header darkgray">자세히보기 (댓글 없음 : notice, 현재 클래스)
            <% if params[:class_id].to_i==1 %>
                <small>성인 정규 클래스</small>
            <% elsif params[:class_id].to_i==2 %>
                <small>성인 원데이 클래스</small>
            <% elsif params[:class_id].to_i==3 %>
                <small>요리책방 꼬르륵</small>
            <% elsif params[:class_id].to_i==4 %>
                <small>주니어 클래스</small>
            <% elsif params[:class_id].to_i==5 %>
                <small>PRIVATE CLASS</small>
            <% elsif params[:class_id].to_i==6 %>
                <small>정 in the Kitchen</small>
            <% end %>

            </h3>
        </div>
    </div>
    <!-- /.intro -->
    <div class="control-label-right">
        <a href="/jung/cawrite" class="btn btn-default">수정하기</a>
    </div>
    <!-- /.control-label-right-->
  <br/><br/>
  <!-- class contents -->
  <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 control-label-center">
        <h2><%= @post.title %></h2>
        <div>
          <%= @post.body.html_safe %>
        </div>
        <br/>
      </div>
      <div class="col-sm-2"></div>
  </div>
  <!-- /.class contents-->

  <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 control-label-center">
          <a class="btn btn-default" href="#">뒤로가기</a> <a class="btn btn-red-2" href="#">신청하기</a> <br/><br/>
      </div>
      <div class="col-sm-2"></div>
  </div>
  <!-- /.row-->